<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register_option Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='option.css') }}">
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <div class="buttons">
            <button onclick="location.href='/register/voter'" class="btn">Register as Voter</button>
        <button onclick="location.href='/register/candidate'" class="btn">Register as Candidate</button>
           <!--<a href="/candidate_login" class="btn">Candidate Login</a>
            <a href="/voter_login" class="btn">Voter Login</a>-->
        </div>
    </div>
</body>
</html>
